<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/static/style.css')}}">
    <title>About Page</title>
</head>

<body>
    <header>
        <h1>About NRIIT Learning Management</h1> 
        <h1>About NRIIT Learning Management</h1>
        <p>Learn Practice Get Placed</p>
        <nav>
            <a href="index.html">Home</a>
@@ -33,6 +35,26 @@ <h2>Vision</h2>
            </p>
        </section>
    </main>
    
    <footer>

        <hr>

        <p>&copy; 2026 NRIIT Learning Management System</p>

        <p>Email: info@nriit.edu</p>

        <p>Phone: +91 9876543210</p>

        <p>Follow Us:</p>

        <a href="#">Facebook</a> |

        <a href="#">Instagram</a> |

        <a href="#">LinkedIn</a>

    </footer>
    <script src="{{ url_for('static', filename='js/static/script.js') }}"></script>

</body>

</html>